/* Courses.css */

.courses-container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

.courses-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-card {
  flex: 0 0 calc(33.333% - 16px); /* Three columns with some margin */
  margin: 0 8px 16px;
  box-sizing: border-box;
}

.course-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.course-details {
  margin-top: 10px; /* Add margin between image and course details */
}

.course-details h2,
.course-details h3,
.course-details p {
  margin-bottom: 8px; /* Add margin between individual text elements */
}

.course-actions {
  margin-top: 10px; /* Add margin between course details and actions */
  justify-content: center;
}

.course-card .course-actions {
  display: flex; /* Ensure buttons are displayed in a row */
  justify-content: space-between; /* Add space between buttons */
  margin-top: 8px; /* Add space between buttons and other elements */
}

.course-card .add-to-cart-btn,
.course-card .wishlist-btn {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.course-card .add-to-cart-btn {
  background-color: #4e2828; /* Green color for Add to Cart button */
  color: #fff;
  margin-left: 15%;
    width: 50%;
}

.course-card .wishlist-btn {
  background-color:#ccc8c8; /* Blue color for Wishlist button */
  border-radius: 50%; /* Make it a circle */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15%;
}

.course-card .wishlist-btn svg {
  width: 24px; /* Adjust the heart icon size */
  height: 24px;
  fill: #0f0e0e; /* Heart icon color */
}
