.dashboard-sidebar{
    width: 20%;
    float: left;
    height: 100vh;
    position: sticky;
    top: 0;
    font-size: 15px;
    padding: 50px 10px;
    background: #1c1a4a;
    border-radius: 5px;
    margin: 10px 5px;
}
.dashboard-sidebar ul{
    list-style: none;
    padding-left: 28px;
}

.dashboard-sidebar ul li{
    margin-bottom: 35px;
    cursor: pointer;
    
}
.dashboard-sidebar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
.dashboard-sidebar ul li a.active {
    position: relative; 
    color: crimson;
  }
  
  .dashboard-sidebar ul li a.active::before {
    content: '';
    position: absolute;
    left: -10px; 
    top: 50%;
    transform: translateY(-50%);
    width: 3px; 
    height: 100%;
    background-color: crimson;
  }
  .icon-dash{
    font-size: 25px;
  }
  .dashboard-sidebar ul li svg{
    font-size: 25px;
    vertical-align: middle;
    margin-right: 14px;
  }