/* Tooltip.css */

.tooltip {
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  font-size: medium;
  transition: visibility 0s, opacity 0.5s linear;
  display: flex;
  z-index: 1;
  top:100%; 
  left: -100%; 
  transform: translateX(-90%);
}

.user-container:hover .tooltip{
  position: absolute;
  width: 382px;
  padding: 20px 30px;
  outline: none;
  text-align: start;
  background-color: #eeeeee;
  visibility: visible;
  opacity: 1;
  font-size: 13px;
  
}

.tooltip ul {
  list-style-type: none; 
  padding: 0; 
  display: block;
}

.tooltip li {
  display: flex;
  padding: 10px; 
  margin-left: 10px;
  align-items: center
  ;

}
.user-container:hover .tooltip li a{
  font-weight: 400;
  align-items: center;
}
.user-container:hover .tooltip li a:hover{
  color: rgb(250, 22, 6);
  
}
