/* Tooltip.css */

.tooltip {
  position: absolute;
  background-color: #fff;
  color: #4e4b4b;
  padding: 8px;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  font-size: medium;
  width: 250px;
  transition: visibility 0s, opacity 0.5s linear;
  z-index: 1;
  top:100%; /* Position the tooltip just above the icon */
  left: -150%; /* Center the tooltip horizontally */
  transform: translateX(-50%); /* Center the tooltip horizontally */
}
.cart-icon:hover .tooltip,
.heart-icon:hover .tooltip
 {
  visibility: visible;
  opacity: 1;
}
.account-icon:hover .tooltip{
  top: 100%;
  left: -125px;
  width: 300px;
  padding: 0%;
  text-align: start;
  background-color: #fffffffd;
  color: black;
  visibility: visible;
  opacity: 1;
  font-size: 13px;
}

.tooltip ul {
  list-style-type: none; 
  padding: 0; 
  display: block;
}

.tooltip li {
  display: flex;
  padding: 8px; 
  border-bottom: 1px solid #ddd; 
  margin-left: 10px;
  align-items: center
  ;

}
.account-icon:hover .tooltip li a{
  font-weight: 400;
  align-items: center;
}
.account-icon:hover .tooltip li a:hover{
  color: rgb(250, 22, 6);
  
}
