
.empty-page{
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #dce3f8, #fcfcfe);
    height: 583px;

}

.empty-page img{
    width: 60%;
    height: 490px;
}
