/* Header.css */

.header {
  display: flex;
  height: 70px;
  align-items: center;
  background-color: #f1f1f1;
  width: 100%;
  padding: 0 2%; /* Add padding to the left and right (adjust as needed) */
}

.header-left {
  margin-right: 40px;
  margin-left: 60px;
}

.header-brand {
  font-size: 2.3em;
  text-decoration: none;
  background: linear-gradient(45deg, #153aef, #e10040);
  color: transparent;
  -webkit-background-clip: text;
}

.header-middle {
  margin-left: 2%; /* Adjusted for responsiveness */
  width: 30%; /* Set a specific width for the middle container */
}

.header-middle input {
  height: 38px;
  border: #333;
  width: 100%;
  font-size: .8em;
  padding-left: 10px;
  border-radius: 15px;
}

.header-right {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.header-right ul {
  list-style: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.header-right li {
  cursor: pointer;
  margin-left: 20px;
  font-size: 1.1em;
  font-weight: 300;
  transition: color 0.3s ease;
  white-space: nowrap;
  margin-right: 10px; /* Add space between items on the right (adjust as needed) */
}

.header-right ul li a {
  text-decoration: none;
  color: inherit;
}

.header-right ul li:hover,
.header-right ul li a:hover {
  color: #c4390e;
}

/* Tooltip styles */
.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  z-index: 1; /* Ensure the tooltips appear above other elements */
}

.cart-icon:hover .tooltip,
.heart-icon:hover .tooltip,
.account-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.cart-icon{
margin-left: 80px;
position: relative;
font-size: 25px;
cursor: pointer;
vertical-align: middle;
}
/* Additional styles for the account icon */
.account-icon,
.heart-icon {
margin-left: 30px;
position: relative;
font-size: 25px;
cursor: pointer;
}

.account-icon:hover,
.cart-icon:hover,
.heart-icon:hover {
  color: #c4390e;
}
