/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border-radius: 20px;
}

.header-left, .header-right {
  display: flex;
  align-items: center;
}

.header-brand {
  font-size: 2em;
  margin-right: 40px;
  margin-left: 40px;
  text-decoration: none;
  background: linear-gradient(45deg, #153aef, #e10040);
  color: transparent;
  -webkit-background-clip: text;
}

.header-middle {
  flex-grow: 1;
  margin: 0 20px;
  width: 30%;
}

.header-middle input {
  height: 30px;
  padding: 8px;
  font-size: 1em; /* Adjusted the font size */
  border-radius: 5px;
}

.header-right {
  width: 40%; /* Increased the width of the right section */
}

.header-right ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Aligned to the right */
}

/* Add this style to create space between all items in the right header */
.header-right li, .header-right .account-icon {
  margin-right: 35px;
}

.header-right li {
  cursor: pointer;
  font-size: 1.5em; /* Increased the font size */
  transition: color 0.3s ease; /* Added a transition effect */
}

/* Additional styles for the account icon */
.header-right .account-icon {
  font-size: 2.5em; /* Increased the font size */
}

/* Add more styles as needed */
