/* Courses.css */

.courses-container {
  max-width: 100%;
  display: flex;
}


.course-items h1 {
  margin-top: 20px;
  width: 300px;
  margin-bottom: 20px;
  font-size: 1.7rem;
  left: 5%;
  position: relative;

}

.courses-list {
  display: flex;
  flex-wrap: wrap;
margin-left: 4%;

}
.courses-list h1 {
width: 100%;
text-align: center;
height: 30px;

}
.course-items{
  width: 100%;
}

.course-card {
  flex: 0 0 calc(33.33% - 16px); 
  margin: 0px 10px 15px;
  box-sizing: border-box;
}

.course-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.course-details {
  margin-top: 10px; 


}

.course-details h2,
.course-details p {
  font-size: large; 
  font-weight: 500;
  margin: 0px 15px;
}
.course-details p {
  margin: 8px 15px;
}


.course-card .course-actions {
  justify-content: flex-start; 
  margin-top: 8px; 
  display:flex;
}

.course-card .add-to-cart-btn,
.course-card .wishlist-btn {
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.course-card .add-to-cart-btn {
  background-color: #1c1a4a; 
  color: #fff;
  margin-left: 15px;
  width: 60%;
  height: 40px;
  padding: 10px;
}

.course-card .wishlist-btn {
  z-index: 2;
  border-radius: 50%;
  margin-left: 15px;
  padding: 10px;
  position: absolute;
  padding-top: 10px;
  padding-right: 9px;
  padding-bottom: 7px;
  top: 4%;
  right: 7%;

  
}

.course-card .wishlist-btn svg {
  width: 24px; 
  height: 24px;
  fill: #0a083b; 
}

button{
  background: none;
  border: none;
  cursor: pointer;
}

.arrow{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #ff9011e5;
  height: 100vh;
  width: 50px;
  position: sticky;
  top: 0;
}
.arrow svg{
  color:#3a333a6b ;
  font-weight: 1000;
  top: 50vh;
  font-size: 30px;



}
.addcourse {
  width: 120px;
  display: flex;
  top: 105px;
  right: 6%;
  position: absolute;
  font-size: 16px;
  background: #1c1a4a;
  height: 40px;
  padding: 10px 13px;
  color: #fff;
  
}




