/* Courses.css */

.courses-container {
  max-width: 100%;
  display: flex;
}


.courses-container h1 {
  width: 100%;
  margin-top: 20px;
 text-align: center;
 margin-bottom: 20px;
 font-size: 1.3rem;

}

.courses-list {
  display: flex;
  flex-wrap: wrap;
margin-left: 4%;

}
.courses-list h1 {
width: 100%;
text-align: center;

}

.course-card {
  flex: 0 0 calc(33.33% - 16px); 
  margin: 0 8px 16px;
  box-sizing: border-box;
}

.course-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.course-details {
  margin-top: 10px; /* Add margin between image and course details */
}

.course-details h2,
.course-details h3,
.course-details p {
  margin-bottom: 8px; /* Add margin between individual text elements */
}

.course-card .course-actions {
  justify-content: flex-start; 
  margin-top: 8px; 
  display:flex;
}

.course-card .add-to-cart-btn,
.course-card .wishlist-btn {
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.course-card .add-to-cart-btn {
  background-color: #3a333a; /* Green color for Add to Cart button */
  color: #fff;
  margin-left: 15px;
  width: 60%;
  height: 40px;
  padding: 10px;
}

.course-card .wishlist-btn {
  background-color:rgba(78, 40, 40, 0.356);
  border-radius: 50%; 
  margin-left: 15px;
  padding: 10px;
  padding-top: 10px;
  padding-right: 9px;
  padding-bottom: 7px;

  
}

.course-card .wishlist-btn svg {
  width: 24px; 
  height: 24px;
  fill: #1d181d; 
}

button{
  background: none;
  border: none;
  cursor: pointer;
}

.arrow{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #ff9011e5;
  height: 100vh;
  width: 50px;
  position: sticky;
  top: 0;
}
.arrow svg{
  color:#3a333a6b ;
  font-weight: 1000;
  top: 50vh;
  font-size: 30px;



}




