/* CourseDetailsPage.css */
.course-details-container {
    display: flex;
  }
  .course-details-left{
    width: 100%;
  }
  .banner{
    background-color: #1c1a4a;
    padding-top: 1px;
    margin: 20px;
    height: fit-content;
    color: #ffffff;
    padding-bottom: 1px;
  }
  
  .course-details-container .course-details {
    margin: 40px 0px 0px 98px;
    width: 53%;
}
.course-details-container .course-details h1 {
    font-size: 40px;
    font-weight: 700;
    
}
.course-details-container .course-details h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0px ;
    
}

.course-details-container p{
    margin: 20px 0px;
    font-size: 19px;
}
.learning-objectives {
  display: flex;
  flex-wrap: wrap;
  font-size: 19px;

}

.learning-objective {
  margin-top: 20px;
  width: 50%;
 
}
.learning-objective svg{
  vertical-align: bottom;
  margin-right: 10px;
}

.course-details-right{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: absolute;
  padding: 30px;
  width: 30%;
  top: 250px;
  right: 100px;
  background-color: white;
}
.course-details-right .upper-right h2{
  text-align: center;
  font-size: 25px;
  color: #373b08;


}
.course-details-right .btn-1{
  width: 80%;
  font-size: 17px;
  height: 40px;
}

.course-details-right .btn-2{
  border: 0.5px solid #08080826;
margin-left: 2px;
height: 40px;
width: 18%;
}
.btn-2 svg{
  font-size: 16px;
}

.course-details-right .btn-3{
width: 99%;
height: 40px;
margin-top: 2px;
font-size: 17px;
}
.course-details-right .btn-1,.course-details-right .btn-3{
  background-color: #fff;
  border: 0.5px solid #08080826;
}
.course-details-right .btn-1:hover,.course-details-right .btn-3:hover{
  background-color: #1c1a4a;
  color: white;
}

.video-popup {
  position: absolute;
  z-index: 1;
  width: 75%;
  height: 620px;
  background-color: transparent;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.video-popup-content {
  position: relative;
  padding: 50px;
  
}

.video-popup-content .video-player {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.video-player video{
  width: 100%;
}

.video-popup button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

  
  .section-wrapper {
    border: 1px solid #ccc; 
    margin-bottom: 10px; 
  }
  
  .section-header {
    font-size: 17px;
    cursor: pointer; 
    padding: 0 20px;
 
  }
  .section-header h3 svg {
    transition: transform 0.3s ease;
    vertical-align: bottom;
    position: relative;
    font-size: 20px;
    margin-right: 20px;
  }
  
  .rotate {
    transform: rotate(180deg); 
  }
  
  .video-list li {
    font-size: 17px;
    cursor: pointer; 
    padding: 5px; 
    list-style: none;
  }
  .video-list li svg{
    vertical-align: bottom;
    margin-right: 10px;
  }

  .right-icons{
    vertical-align: sub;
    margin-right: 20px;
    font-size: 22px;
  }
  
  
  .objectives-requirements {
    flex: 1;
  }
  
.course-dtls-rt{
  margin-top: 20px;
  padding: 0 20px;
  border: 1px solid #ccc;
}

.course-dtls-rt li{
  padding-left: 10px;
  font-size: 20px;
}

.course-dtls-rt li{
  margin-bottom: 15px;
}
.duration{
  font-size: 16px;
  color: #534f4f;
}
.progress-tracking{
  border: 1px solid #ccc;
  padding: 0 25px;
}
  
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: #1c1a4a;
  border-radius: 5px;
}
.step-info{
  margin: 10px 0;
  display: flex;
  justify-content: center;
  font-weight: 500;
}
.enrollment-date{
  margin-top: 24px;
  font-size: 18px;
}
.enrollment-date span{
  font-weight: 600;
  color: indigo;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.rating-prompt{
  position: absolute;
  border: 1px solid white;
  top: 50%;
  left: 50%;
  width: 745px;
  transform: translate(-50%, -40%);
  background: #d9d9d9;
  height: auto;
  border-radius: 20px;
  z-index: 3;
  padding: 30px;
}
.css-dqr9h-MuiRating-label {
  font-size: 80px;
}
.css-1qqgbpl-MuiRating-root {
  margin-top: 20px;
}
  
div.rating-prompt div{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
div.rating-prompt textarea{
  width: 80%;
    margin: 30px 75px;
    height: 90px;
    border-radius: 10px;
    padding: 10px;
}

.btn-rating{
  font-size: 20px;
    height: 45px;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;

}
.btn-rating:hover{
  color: indigo;
  font-weight: bold;
}
.star-container {
  color: rgb(255, 136, 0);
  font-size: 30px;
}
.full-name{
  font-size: 23px;
  font-weight: 500;
}
.star {
  
  display: inline-block;
  color: inherit;
}
.comment-container ul{
  padding: 0;
  list-style: none;
}
.comment{
  border: 1px solid #ccc;
  padding: 20px;
}

.comment-image{
  height: 35px;
  vertical-align: middle;
  margin-right: 10px;
}