/* styles.css */


.course-details-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 32px;

}

.course-details-card h2 {
  font-size: 18px;
  font-weight: bold;
  
}

.details-cards{
border: 1px solid #979595;;
display: flex;

}
.course-details-card p {
  font-size: 14px;
  color: #000;
}

.course-item img {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}
.enrolled-courses,div.active-courses,div.completed-courses{

  width: 345px;
  padding: 10px 50px;
  text-align: center;
  border:1 px solid black;
}
.course-item h3 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-bottom: 12px;
}

.course-item p {
  font-size: 14px;
  color: #000;
  margin-bottom: 12px;
}

