.course-details h2{
    padding: 0 !important;
    height: auto !important;
    font-size: 18px !important;
    background-color: #f7f7f7 !important;
}
.empty-page{
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #dce3f8, #fcfcfe);
    height: 583px;

}

.empty-page img{
    width: 70%;
    height: 490px;
}
