
  .profile-image-container {
    position: relative;
    margin-bottom: 20px;
    align-self: self-start;
  padding-left: 50px;
  }
  .profile-image-contr{
    position: relative;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    padding-left: 50px;
    background-color: #70809065;
    border-radius: 10px;
    padding:10px;
  }
  
  .profile-image-label {
    cursor: pointer;
  }
  .label-text{
    margin-left: 10px;
  }
  
  form.profile-form{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px 75px 25px;
  }
  .profile-image {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .profile-image-input {
    display: none;
  }
  
  .camera-icon {
    position: absolute;
    bottom: 110px;
    right: 178px;
    font-size: 25px;
    width: 140px;
    display: flex;
    justify-content: center;
    height: 50px;
    background: #ffffff7a;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  .profile-navigation input[type='text'],
  .profile-navigation input[type='number'],
 .profile-navigation input[type='email'] {
    padding: 5px;
    width: 200px;
    margin-left: 10px;
  }

  
  /* Profile.css */

.profile-navigation {
    margin-bottom: 20px;
  }
  .details-left{
    margin-left: 150px;
    margin-top: 25px;
  }
  
  .profile-navigation ul {
    list-style-type: none;
    padding: 10px 17px;
    margin: 0;
    border-bottom: ridge;
  }
  
  .profile-navigation li {
    display: inline-block;
    margin-right: 30px;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
  }
  
  .profile-navigation li::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: crimson;
    transition: width 0.3s ease-in-out; /* Add smooth transition */
    opacity: 0; /* Initially invisible */
  }
  
  .profile-navigation li:hover::after,
  .profile-navigation li.active::after {
    width: 100%; /* Expand the line */
    opacity: 1; /* Make the line visible */
  }
  
  
  .profile-navigation li.active {
    color: crimson;
    position: relative;
  }
  
  .profile-navigation li.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: crimson;
    transition: width 0.3s ease;
  }
  
  .profile-navigation li.active:hover::after {
    width: 100%;
  }
  .details-label {
    margin-right: 80px;
    width: 110px;
    display: inline-block;
    font-weight: 500;
  }
  
  
  .user-details-container,
  .edit-details-container {
    margin-bottom: 20px;
  }
  
  .edit-details-container label {
    display: block;
    margin-bottom: 30px;
  }
  
  .edit-details-container input[type='text'],
  .edit-details-container input[type='number'],
  .edit-details-container input[type='email'] {
    width: 110%;
    padding: 8px;
    margin-top: 5px;
    font-size: 15px;
    border-radius: 5px;
  }
  
  .edit-details-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1c1a4a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 55px;
  }
  
  .edit-details-container button:hover {
    background-color: #0f0d33;
  }
  
  /* Additional styles for User Details */
  .user-details-container h2 {
    color: #007bff;
  }
  
  .user-details-container p {
    font-size: 19px;
    margin: 35px 20px;
  }
  
  .user-details-container p:last-child {
    margin-bottom: 0;
  }

  .image-text{
    margin-top: 50px;
    margin-left: 20px;
    font-size: small;
  }
  
  .invalid-input {
    border: 1px solid rgb(255, 0, 0);
    outline: none;
  }
  .valid {
    border: 1px solid black;
    outline: none;
  }
  .validation-message{
    width: 100%;
    height: 35px;
    color: red;
    padding: 7px 0px;
    text-align: center;
    background-color: blanchedalmond;
  }
  .statistics-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .statistics-box {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #0D47A1;
    text-align: center;
    font-size: 15px;
    color: white;
    box-shadow: none;
  }
  .user-details-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

